@using Problem_Box.Models;
@model IEnumerable<ProblemCatagory>

@{ViewData["Title"] = "Index"; }

<h2>Index</h2>
<br />

<div class="row">
    <div class="col-6">
        <h2>Complain Catagory List</h2>
        <br />
    </div>
    <div class="col-6">
        <a asp-action="Create" class="btn btn-outline-primary"  >&nbsp;<b> Create New Complain </b></a>
    </div>
    <div>
        <table class="table table-striped border">
            <tr class="table-info">
                <th>
                    @Html.DisplayNameFor(c=>c.problemcatagory)
                </th>
                <th></th>
            </tr>
            @foreach(var item in Model)
            {
        <tr >
            <td>@item.problemcatagory</td>
            <td>Edit || Delete|| Details</td>
        </tr>
                
            }

        </table>
    </div>

</div>